.thumbImg{
position: relative;
width: 205px;
height: 300px;
border: 1px solid #000;
}
.thumbDesc{
position: absolute;
width: 205px;
left: 0px;
top: 150px;
z-index: 100;
background-color: #662046;
padding: 5px;
color: #fff;
opacity: 0.8;
}
